@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

.GameContainer {
  position: relative;
  font-family: "Luckiest Guy", cursive;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  perspective: 1000px;
}
.GameNav-container {
  width: inherit;
  height: 20px;
  padding: 20px;
  margin-top: 0;
}
/* The Close Button */
.GameClose-icon {
  float: right;
  margin-top: -45px;
}
.GameClose {
  color: #50abf1;
  font-size: 35px;
  font-weight: bold;
}

.GameClose:hover,
.GameClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Chat Button */
.chat-icon {
  float: left;
  margin-top: -10px;
}
.chat {
  color: #50abf1;
  font-size: 28px;
}

.chat:hover,
.chat:focus {
  cursor: pointer;
}
/*New Game */
.goNewGame {
  margin-left: 360px;
  color: #50abf1;
  font-size: 24px;
}
.goNewGame span {
  text-shadow: 5px 10px 18px #888888;
}
.goNewGame:hover,
:focus {
  text-shadow: none;
  cursor: pointer;
}
/*players place */
.layout-container {
  width: inherit;
  height: 500px;
  display: flex;
}
.side-container {
  width: 50%;
  height: inherit;
  margin-top: 30px;
  margin-left: 150px;
}
.player-name span {
  font-size: 40px;
  color: #fff;
  -webkit-text-stroke: 2px #018bcc;
  text-shadow: 5px 10px 18px #888888;
}
.current-point {
  background-color: #018bcc;
  display: inline-block;
  color: #fff;
  border-radius: 3px;
  padding: 10px 30px 0 30px;
  font-size: 20px;
  margin-top: 150px;
  box-shadow: 5px 10px 18px #888888;
}
.current-point #current-score {
  padding-left: 30px;
  font-size: 30px;
}
.total-point {
  margin-top: 88px;
  margin-left: 50px;
  font-size: 70px;
  color: #018bcc;
  text-shadow: 5px 10px 18px #888888;
}
/*Hold button*/
.hold-container {
  position: relative;
  margin: 45%;
}
#holdbtn {
  font-size: 18px;
  color: #fff;
  background: #018bcc;
  padding: 13px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
}
#holdbtn:hover {
  box-shadow: none;
}
