@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.container {
  padding: 5px;
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: "Luckiest Guy", cursive;
  background-color: #fff;
  perspective: 1000px;
}
/*nav that contain logo layout and buttons online offline*/
.nav {
  width: inherit;
  height: 50px;
  padding: 20px;
  display: flex;
}
.logo {
  font-size: 24px;
  animation: textanime 1.5s alternate infinite ease-in;
  margin-left: 10px;
}
.Logo-text {
  font-size: 35px;
  color: #fff;
  -webkit-text-stroke: 2px #018bcc;
}
/*offline online buttons margin*/
.buttons {
  margin-left: 50%;
}
.buttons .btn1 {
  margin-right: 10px;
}

/*Design for all buttons*/
.btn {
  font-size: 18px;
  color: #fff;
  background: #018bcc;
  padding: 13px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
  transition: 0.5s;
}
/*offline backColor*/
.buttons .btn2 {
  background-color: #ccc;
}
.btn-offline {
  margin-top: 50%;
}
.btn-offline .btn {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
}
/*remove shadow when we hover*/
.btn:hover {
  box-shadow: none;
}
/*body content*/
.sides {
  width: inherit;
  height: 500px;
  display: flex;
}
/*buttons "newGame joinGame Play" side*/
.side1 {
  width: inherit;
  height: inherit;
}
.side1 .btn {
  display: grid;
  margin: 25% auto;
}
/*Cube side*/
.side2 {
  width: inherit;
  height: inherit;
}
.side2 #Cube {
  margin: 40% auto;
}
/*hide play button*/
#offline {
  display: none;
}
/*Cube*/
/* The Modal */

/* Modal container */
.login {
  display: grid;
}
.login label {
  font-size: 24px;
  margin: 10px;
  font-family: "Luckiest Guy", cursive;
  color: #50abf1;
  outline: none;
}
.login input {
  height: 20px;
  width: 80%;
  padding: 1em;
  margin: 10px;
  border: 1px solid #44a6f1;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 3px;
  outline: none;
}
::placeholder {
  color: #50abf1;
}
.login button {
  display: block;
  padding: 0.3em;
  margin: 10px;
  width: 80%;
  background-color: #50abf1;
  color: #fff;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888888;
}
.login button:hover {
  box-shadow: none;
}

.modal-name {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 60%;
  height: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  padding: 2px 16px;
  background-color: white;
  color: #018bcc;
}

/* Add Animation */

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
#modalJoinGame .modal-name,
#modalPlay .modal-name {
  height: 50%;
}
/* The Close Button */
.close {
  color: #50abf1;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#id-container {
  margin-top: 30px;
  margin-left: 20px;
}
/*Copy text*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.close-icon span {
  margin-right: 15px;
  font-size: 35px;
}
