@font-face {
  font-family: "Luckiest Guy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./font/LuckiestGuy.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
.container {
  position: relative;
  font-family: "Luckiest Guy", cursive;
  width: 900px;
  height: 550px;
  margin: 10px auto;
  background-color: #fff;
  box-shadow: 5px 10px 18px #888888;
  perspective: 1000px;
}
.nav-container {
  width: inherit;
  height: 20px;
  padding: 20px;
  margin-top: 0;
}
/* The Close Button */
.close-icon {
  float: right;
  margin-top: -45px;
}
.close {
  color: #50abf1;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Chat Button */
.chat-icon {
  float: left;
  margin-top: -10px;
}
.chat {
  color: #50abf1;
  font-size: 24px;
}

.chat:hover,
.chat:focus {
  cursor: pointer;
}
/*back icon*/
.back {
  color: #50abf1;
  font-size: 24px;
  padding-right: 10px;
}
/*New Game */
.goNewGame {
  margin-left: 360px;
  color: #50abf1;
  font-size: 24px;
}
.goNewGame span {
  text-shadow: 5px 10px 18px #888888;
}
.goNewGame span:hover {
  text-shadow: none;
}
/*players place */
.layout-container {
  width: inherit;
  height: 500px;
  display: flex;
}
.side-container {
  width: 50%;
  height: inherit;
  margin-top: 30px;
  margin-left: 150px;
}
.player-name {
  display: flex;
}
.player-name span {
  font-size: 40px;
  color: #fff;
  -webkit-text-stroke: 2px #018bcc;
  text-shadow: 5px 10px 18px #888888;
}
.current-point {
  background-color: #018bcc;
  display: inline-block;
  color: #fff;
  border-radius: 3px;
  padding: 10px 30px 0 30px;
  font-size: 20px;
  margin-top: 150px;
  box-shadow: 5px 10px 18px #888888;
}
.current-point #current-score {
  padding-left: 30px;
  font-size: 30px;
}
.total-point {
  margin-top: 88px;
  margin-left: 50px;
  font-size: 70px;
  color: #018bcc;
  text-shadow: 5px 5px 5px #888888;
}
/*Hold button*/
.hold-container {
  position: relative;
  margin: 45%;
}
#holdbtn {
  font-size: 18px;
  color: #fff;
  background: #018bcc;
  padding: 13px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
  transition: box-shadow 3s;
}
#holdbtn:hover {
  box-shadow: none;
}
.cubeContainer {
  position: relative;
  margin: -40% auto;
  height: 130px;
  width: 130px;
  perspective: 500px;
}
#Cube {
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
  transition: transform 2s;
}
.side {
  position: absolute;
  width: inherit;
  height: inherit;
  backface-visibility: hidden;
  border: 1px solid #018bcc;
  background-color: white;
}
.face1 {
  transform: translateZ(65px);
}
.face2 {
  transform: rotateY(180deg) translateZ(65px);
}
.face3 {
  transform: rotateY(90deg) translateZ(65px);
}
.face4 {
  transform: rotateY(-90deg) translateZ(65px);
}
.face5 {
  transform: rotateX(90deg) translateZ(65px);
}
.face6 {
  transform: rotateX(-90deg) translateZ(65px);
}
.dot {
  background-color: #018bcc;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
}
/*face1*/
.face1 .dot1 {
  top: 58px;
  left: 58px;
}
/*face2*/
.face2 .dot1 {
  bottom: 100px;
  right: 100px;
}
.face2 .dot2 {
  top: 100px;
  left: 100px;
}
/*face3*/
.face3 .dot1 {
  top: 58px;
  left: 58px;
}
.face3 .dot2 {
  bottom: 100px;
  right: 100px;
}
.face3 .dot3 {
  top: 100px;
  left: 100px;
}
/*face4*/
.face4 .dot1 {
  bottom: 100px;
  right: 100px;
}
.face4 .dot2 {
  bottom: 100px;
  left: 100px;
}
.face4 .dot3 {
  top: 100px;
  right: 100px;
}
.face4 .dot4 {
  top: 100px;
  left: 100px;
}
/*face5*/
.face5 .dot1 {
  bottom: 100px;
  right: 100px;
}
.face5 .dot2 {
  bottom: 100px;
  left: 100px;
}
.face5 .dot3 {
  top: 100px;
  right: 100px;
}
.face5 .dot4 {
  top: 100px;
  left: 100px;
}
.face5 .dot5 {
  top: 58px;
  left: 58px;
}
/*face6*/
.face6 .dot1 {
  bottom: 100px;
  right: 100px;
}
.face6 .dot2 {
  bottom: 100px;
  left: 100px;
}
.face6 .dot3 {
  top: 100px;
  right: 100px;
}
.face6 .dot4 {
  top: 100px;
  left: 100px;
}
.face6 .dot5 {
  right: 58px;
  left: 58px;
  bottom: 100px;
}
.face6 .dot6 {
  right: 58px;
  left: 58px;
  top: 100px;
}
/*the commun code for active and notActive*/

.cubelittleContainer {
  position: relative;
  margin-left: 8px;
  margin-top: 10px;
  height: 30px;
  width: 30px;
  perspective: 1000px;
}
#littleCube {
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
}

.littleSide {
  position: absolute;
  width: inherit;
  height: inherit;
  backface-visibility: hidden;
  border: 1px solid #50abf1;
}
.littleFace1 {
  transform: translateZ(15px);
}
.littleFace2 {
  transform: rotateY(180deg) translateZ(15px);
}
.littleFace3 {
  transform: rotateY(90deg) translateZ(15px);
}
.littleFace4 {
  transform: rotateY(-90deg) translateZ(15px);
}
.littleFace5 {
  transform: rotateX(90deg) translateZ(15px);
}
.littleFace6 {
  transform: rotateX(-90deg) translateZ(15px);
}
.littleDot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
}
/*littleFace1*/
.littleFace1 .littleDot1 {
  top: 12px;
  left: 12px;
}
/*littleFace2*/
.littleFace2 .littleDot1 {
  bottom: 24px;
  right: 24px;
}
.littleFace2 .littleDot2 {
  top: 24px;
  left: 24px;
}
/*littleFace3*/
.littleFace3 .littleDot1 {
  top: 12px;
  left: 12px;
}
.littleFace3 .littleDot2 {
  bottom: 24px;
  right: 24px;
}
.littleFace3 .littleDot3 {
  top: 24px;
  left: 24px;
}
/*littleFace4*/
.littleFace4 .littleDot1 {
  bottom: 24px;
  right: 24px;
}
.littleFace4 .littleDot2 {
  bottom: 24px;
  left: 24px;
}
.littleFace4 .littleDot3 {
  top: 24px;
  right: 24px;
}
.littleFace4 .littleDot4 {
  top: 24px;
  left: 24px;
}
/*littleFace5*/
.littleFace5 .littleDot1 {
  bottom: 24px;
  right: 24px;
}
.littleFace5 .littleDot2 {
  bottom: 24px;
  left: 24px;
}
.littleFace5 .littleDot3 {
  top: 24px;
  right: 24px;
}
.littleFace5 .littleDot4 {
  top: 24px;
  left: 24px;
}
.littleFace5 .littleDot5 {
  top: 12px;
  left: 12px;
}
/*face15*/
.littleFace6 .littleDot1 {
  bottom: 24px;
  right: 24px;
}
.littleFace6 .littleDot2 {
  bottom: 24px;
  left: 24px;
}
.littleFace6 .littleDot3 {
  top: 24px;
  right: 24px;
}
.littleFace6 .littleDot4 {
  top: 24px;
  left: 24px;
}
.littleFace6 .littleDot5 {
  right: 12px;
  left: 12px;
  bottom: 24px;
}
.littleFace6 .littleDot6 {
  right: 12px;
  left: 12px;
  top: 24px;
}
/*Active*/
.active #littleCube {
  transition: transform 4s;
  animation: CubeActive 4s infinite;
  animation-timing-function: linear;
}
@keyframes CubeActive {
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
.active .littleSide {
  background-color: #018bcc;
}
.active .littleDot {
  background-color: #fff;
}
/*notActive*/
.notActive #littleCube {
  transform: rotateX(-20deg) rotateY(40deg);
}
.notActive .littleSide {
  background-color: #fff;
}
.notActive .littleDot {
  background-color: #018bcc;
}
/*side Chat*/
.sideChat {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.3;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sideChat a {
  padding: 2px 8px 8px 40px;
  text-decoration: none;
  font-size: 25px;
  color: #018bcc;
  display: block;
  transition: 0.3s;
}

a:hover {
  color: #c1c1c1;
  transform: scale(1.2);
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}
/*--------------------
Chat Title
--------------------*/
.chat-title {
  flex: 0 1 45px;
  position: relative;
  margin-top: 0;
  z-index: 2;
  background: rgb(0, 174, 255);
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 10px 10px 50px;
}

.chat-title h1 {
  font-weight: 500;
  font-size: 20px;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

/*--------------------
Messages
--------------------*/
.messages {
  flex: 1 1;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 350px;
  margin-left: 0px;
  float: left;
  height: 400px;
  background: rgba(255, 255, 255, 0.8);
  overflow-y: scroll;
}
.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(131, 192, 241, 0.883);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(138, 197, 245, 0.883);
}

.messages-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  width: 100%;
}
.messages-content ul {
  list-style-type: none;
  margin-left: 0;
}
.message {
  clear: both;
  float: left;
  color: #0d5788;
  padding: 6px 10px 7px;
  border-radius: 10px 10px 10px 0;
  background: linear-gradient(120deg, #f1f1f1, #fff);
  margin: 8px 0;
  font-size: 11px;
  line-height: 1.4;
  margin-left: 10px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.message-personal {
  float: right;
  margin-right: 10px;
  color: #fff;
  text-align: right;
  background: linear-gradient(120deg, #0992ee, #36a9ec);
  border-radius: 10px 10px 0 10px;
}

/*--------------------
Message Box
--------------------*/
.message-box {
  position: fixed;
  flex: 0 1 40px;
  width: 100%;
  top: 400px;
  background: rgba(0, 162, 255);
  padding: 10px;
  position: relative;
}

.message-box .message-input {
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  color: rgb(255, 255, 255);
  font-size: 11px;
  height: 17px;
  margin: 0;
  padding-right: 20px;
  width: 265px;
}

textarea::placeholder {
  color: #fff;
}

.message-submit {
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 10px;
  color: #fff;
  border: none;
  background: #018bcc;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 10px;
  outline: none !important;
  transition: background 0.2s ease;
}

.message-submit:hover {
  background: #50abf1;
}

.chat:after {
  position: absolute;
  background-color: red;
  left: 70px;
  top: 3px;
  font-size: 10px;
  padding: 3px;
  padding-top: 1.5px;
  color: #fff;
  border-radius: 50%;
  content: "10";
}

.sideChat::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.sideChat::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.sideChat::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.sideChat::-webkit-scrollbar-thumb:hover {
  background: #555;
}
