.login label {
  font-size: 24px;
  margin: 10px;
  font-family: "Luckiest Guy", cursive;
  color: #50abf1;
  outline: none;
}

.login button {
  display: inline-block;
  padding: 0.3em;
  margin: 10px;
  width: 80%;
  background-color: #50abf1;
  color: #fff;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888888;
}
.login button:hover {
  box-shadow: none;
}

.modal-name {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 60%;
  height: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  padding: 2px 16px;
  background-color: white;
  color: #018bcc;
}

/* Add Animation */

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.RequestClose {
  color: #50abf1;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.RequestClose:hover,
.RequestClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
