* {
  user-select: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --BlueColor: rgba(0, 68, 255, 0.918);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "Luckiest Guy";
  src: url(./fonts/_gP_1RrxsjcxVyin9l9n_j2hTd52.woff2) format("woff2"),
    url(./fonts/LuckiestGuy-Regular.ttf) format("ttf");
}
